h1 {
	font-family: "ubuntu", sans-serif;
	font-size: 2.5em;
}

h2 {
	font-family: "ubuntu", sans-serif;
	font-size: x-large;
}

h3 {
	font-family: "ubuntu", sans-serif;
	font-size: large;
}

h4 {
	font-family: "ubuntu", sans-serif;	
}

h5 {
	font-weight: bold;
	padding-bottom: 25px;
}

a {
	text-decoration: none;
}

a:link {
	color: red;
}
a:visited {
	color: red;
}
a:hover {
	text-decoration: underline;
}
a:active {

}

p {
	padding-bottom: 20px;
}
body {
	background: #f9e933;
	font-family: "droid sans", sans-serif;
	font-size: 100%;
}

header {
	background: white;
	overflow: auto;
	padding-top: 45px;
	padding-bottom: 75px;
}

header h1 {
	float: left;
	width: 570px;
}

header nav {
	float: right;
	width: 285px;
}

main .content {
	float: left;
	width: 570px;
}

main .mainImage {
	float: right;
	width:285px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

main {
	background: white;
	padding-bottom: 35px;
	overflow: auto;
}

footer {
	padding-top: 35px;
	margin-bottom: 175px;

}
footer .contact {
	float: left;
	width: 570px;
}

footer .sitemap {
	float: right;
	width: 285px;
}

header, main, footer {
	min-width: 855px;
}

