<!DOCTYPE html>
<html>

<head>
    <title>Node.js Example | AlchemyAPI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    
</head>

<body>
    <h1>Burning Bridges</h1>

    <p id="demo">Paste your email in here before sending to make sure your not burning bridges!</p>
    <input id="email" type="text">

    <button type="button" onclick="myFunction()">Check Sentiment</button>
</body>

</html>